/* Global Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Borel', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.5;
}

h1 {
  color: #68875b;
}
