version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: happypots-postgres-1
    environment:
      POSTGRES_DB: plant_library
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
    driver: local
